---
feature_name: Web Bluetooth / Notifications
chrome_version: 48
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---

<form>
  <input id="service" type="text" list="services" autofocus placeholder="Bluetooth Service">
  <input id="characteristic" type="text" list="characteristics" placeholder="Bluetooth Characteristic">
  <button id="startNotifications">Start notifications</button>
  <button id="stopNotifications">Stop notifications</button>
</form>


{% include js_snippet.html filename='notifications.js' %}

<script>
  document.querySelector('#startNotifications').addEventListener('click', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onStartButtonClick();
    }
  });
  document.querySelector('#stopNotifications').addEventListener('click', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (isWebBluetoothEnabled()) {
      onStopButtonClick();
    }
  });
</script>

{% include_relative _includes/utils.html %}
